{
  "presets": ["next/babel"],
  "plugins": [
    [
      "effector/babel-plugin",
      {
        "debugSids": true,
        "factories": ["@effector/reflect", "@effector/reflect/ssr", "patronum"]
      }
    ]
  ]
}
